.text-logo{
    margin-left:11%;
    margin-top:5%;
    color: #00b39b;
    font-size: 25px;
    text-align: center;
    z-index: -1;
}
.logo{
    margin-top:5%;
    margin-left:6%; 
    font-size: 200%;
    text-align: center;
    
}
svg{
    color: #3d83df;
    opacity: 0.3;
   
}
svg:hover{
    opacity:0.7;
}
@media screen and (max-width:768px){
    .logo{
       z-index: -1;
      
    }
}