.text1{
    color: #747474;
    margin-left:10%;
    

}
.text2{
    color: #747474;
   
}
.up{
    margin-top:10%;
}
.up img{
    margin-left:47vw;
   
    
}
h1 p{
    font-family: Helvetica ;
    font-weight: 300;
    color: #00b39b;
    text-align:center;
    margin-top:5vw;
    margin-bottom:5vw;
    margin-left: 3vw;
    margin-right: 3vw;
   

}
.col-sm-5{
    z-index: -1;
}
@media screen and (max-width:597px){
    .up img{
        display:none;
    }
    
    .text1{
    margin-left:0;
    }
    .colored-text1,.colored-text2{
        margin-left:3%;
        margin-right:3%;
    }
}